<!doctype html>
  <head>
    <title>Crontab Management Panel</title>

    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/toastr.css"/>
    <link rel="stylesheet" href="/style.css">
  </head>
<body>

<nav class="navbar navbar-default">
  <%  route = JSON.parse(routes); %>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= route.analytics %>">Crontab-Management</a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a id="servers"  href="<%= route.servers %>">Servers</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a  href="<%= route.cronjobs %>">CronJobs</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a  href="<%= route.deploycronjobs %>">Deploy CronJobs</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <li><a  href="<%= route.cronjobsstatus %>">CronJobs Status</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <li><a  href="<%= route.slack %>">Integrate Slack</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <li><a  href="<%= route.importcrontab %>">Import Crontab</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a  href="<%= route.backups %>">Backups</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>